@model dynamic

@{
    ViewBag.Title = "Contato";
}

<div class="container">

    <h2>Entre em contato</h2>
    <p class="big grey">Fale conosco, vamos conversar.</p>
    <hr>

    <div class="contact">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0xa69768ade245a5%3A0xa73af414af7a46a3!2sRua+Paracatu%2C+1300+-+Barro+Preto%2C+MG!5e0!3m2!1sen!2sbr!4v1388610762115" width="800" height="300" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <!-- Contact form -->
                    <h5>Contact Form</h5>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="name">Nome</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="email">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="website">Site</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="comment">Comentario</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-default">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <h5>Endereço</h5>
                    <div class="address">
                        <address>
                            <!-- Company name -->
                            <h6>Mestre Agil.</h6>
                            <!-- Address -->
                            Rua paracatu 1300/804<br>
                            Santo Agostinho, 30180-091<br>
                            <!-- Phone number -->
                            <abbr title="Phone">Tel:</abbr> (31) 3889-0092.
                        </address>

                        <address>
                            <h6>Gabriel Nepomuceno</h6>
                            <a href="mailto:#">comercial@mestreagil.com.br</a>
                        </address>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="border"></div>


</div>